*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
    height: 100vh;
    width: 70vw;
    border: 2px solid;
    margin: 10px;
background-color: rgb(175, 130, 71);
}
*/
.mboard{
    width: calc(100vw-20px);
    height: 100vw;
    border: 2px solid;
    margin: 20vh 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  /*  background-color: aqua;  */
}
.mblock{
    height: 29vw;
    width: 29vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vh;
    color: rgb(122, 138, 182);
    -webkit-text-stroke:1px rgb(38, 58, 71);
    box-shadow:inset -3px -3px 3px rgb(253, 252, 252),
    inset 3px 3px 3px rgb(110, 109, 109);

}
#mflash{
    position: absolute;
    width:90vw;
    height: 50vw;
    background-color: rgba(0, 255, 255, 0.233);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .restart{
    margin-left: 5px;
    width: 200px;
    height: 30px;
  }
