.m_nav{
    height: 80px;
    width: 80px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    top: 45vh;
}

.ml1{
   display: none;
   position: relative;
   bottom: 100px;
   left: 100px;
}
.ml2{
    /*border: 2px solid; */
    position: relative;
    bottom: 50px;
    left: 100px;
 }
 .ml3{
     /*border: 2px solid; */
    position: relative;
    bottom: 0px;
    left: 100px;
 }
 .ml4{
   /*border: 2px solid; */
  position: relative;
  bottom: -50px;
  left: 100px;
}

 .ml1 , .ml2 ,.ml3 , .ml4{
   position: absolute;
   display: none;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   width: 100px;
   background-color: rgb(230, 224, 224);
   box-shadow:inset 5px 5px 5px -5px rgb(160, 162, 170),
    -5px -5px 5px -5px rgba(255, 255, 255, 0.9);
   color: black;
 }