.m_nav{
    height: 80px;
    width: 80px;
    
    border-radius: 50%;
    position: absolute;
    left: 0%;
    top: 45vh;

    background-color: rgba(182, 208, 221, 0.63);
    box-shadow: 5px 5px 5px rgba(97, 99, 105, 0.418)
   
    ;
  /*   inset -5px -5px 5px rgba(245, 245, 245, 0.9);  */
   z-index: 10;
    color: black;
}

.ml1{
   display: none;

   position: relative;
   bottom: 100px;
   left: 100px;
}
.ml2{
    /*border: 2px solid; */
    position: relative;
    bottom: 50px;
    left: 100px;
 }
 .ml3{
     /*border: 2px solid; */
    position: relative;
    bottom: 0px;
    left: 100px;
 }
 .ml4{
   /*border: 2px solid; */
  position: relative;
  bottom: -50px;
  left: 100px;
}

 .ml1 , .ml2 ,.ml3 , .ml4{
   position: absolute;
  /* display: none; */
 
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   width: 100px;
   background-color: rgb(230, 224, 224);
   box-shadow:inset 5px 5px 5px -5px rgb(122, 134, 182),
    -5px -5px 5px -5px rgba(124, 173, 169, 0.9);
   color: black;
 }

 .navstyle{
  height: 160px;
  width: 10px;
  background-color: brown;
  position: relative;
  bottom: 50px;
  left: 85px;  

  background-color: rgb(230, 224, 224);
/*  box-shadow:inset 5px 5px 5px  rgb(34, 35, 36);  */

  color: black;
 }

 @keyframes a1{
  0%{
    left:0px;

  }
  100%{
 
  }
 }

 @keyframes a2{
  0%{
    left:0px;
 bottom: 0px;
  }
  100%{
 
  }
 }
 @keyframes a3{
  0%{
   height: 0px;
   left: 0;
   bottom: 0;
  }
  90%{
   
     height: 160px;
  }
 }