* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(182, 177, 177, 0.374);

}

.nav {
  height: 80px;
  width: 100vw;
  display: flex;
  list-style: none;
  justify-content: space-around;  
  align-items: center;

}

.myul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: none;

  text-decoration: none;
  background-color: rgba(207, 203, 203, 0.61);
  box-shadow: inset 3px 3px 3px rgba(38, 39, 43, 0.473),
    inset -3px -3px 3px white;

  color: rgb(40, 46, 49);

}

a {
  text-decoration: none;
  font-weight: 700;
}

#con {
  height: 500px;
  width: 500px;
  border: 2px solid;
}