*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: rgba(221, 214, 214, 0.39);
  
}
.nav{
  display:flex;
  list-style: none;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* YourComponent.module.css */
.container {
  /* Styles for larger screens */
  font-size: 16px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
    .nav{
      display:flex;
      width: 100vw;
      justify-content: space-around;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .myul{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25vw;
    }
}


.myul{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 0px;
  text-decoration: none;
  background-color: rgb(230, 224, 224);
  box-shadow:inset 10px 10px 10px -10px rgb(38, 39, 43),
   -10px -10px 10px -10px rgba(255, 255, 255, 0.9);
  color: black;
 
}
